body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5b8d7f;
    color: #333;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    animation: fadeIn 2s ease-in;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
}

.container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    animation: fadeIn 2s ease-in;
}

.home {
    text-align: center;
}

.home img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.1);
}

.skills,
.about {
    margin-top: 2rem;
    background-color: #e8f5e9;
    padding: 1rem;
    border-radius: 8px;
}

.skills ul,
.about ul {
    list-style: none;
    padding: 0;
}

.skills ul li,
.about ul li {
    background: #9b9a9a;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.skills ul li:hover,
.about ul li:hover {
    transform: scale(1.05);
    background-color: #6c757d;
}

.contact {
    margin-top: 30px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    animation: fadeIn 2s ease-in;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact p {
    margin: 5px 0;
}

.contact a {
    color: #bdc3c7;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #ecf0f1;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
    animation: fadeIn 2s ease-in;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #70d073;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

#return-to-top:hover {
    background-color: #5aaf64;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 0.8rem;
        text-align: center;
    }

    .home img {
        width: 120px;
        height: 120px;
    }

    .skills ul li,
    .about ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .home img {
        width: 100px;
        height: 100px;
    }

    .skills ul li,
    .about ul li {
        font-size: 0.8rem;
    }

    .contact p {
        font-size: 0.9rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}